# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# 🧩 Virtual Envs
venv/
.venv/
env/
venv_clean/

# 🔐 Arquivos de ambiente
.env
*.env

# 🧰 IDEs e sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# 🗂️ Logs e temporários
*.log
*.pot
*.pyproj
*.mypy_cache/
*.pytest_cache/
*.coverage
.coverage.*

# 🌐 Django e Render
/staticfiles/
media/
*.bak
