# === Core Django ===
Django==5.2.7
django-jazzmin==3.0.1
django-widget-tweaks==1.5.0
django-storages==1.14.2
django-admin-honeypot==1.1.0
dj-database-url==3.0.1
gunicorn==23.0.0
whitenoise==6.11.0

# === Banco e Cloud ===
psycopg2-binary==2.9.11
boto3==1.40.56
botocore==1.40.56
s3transfer==0.14.0

# === Dependências do Django ===
asgiref==3.10.0
sqlparse==0.5.3
pytz==2025.2
tzdata==2025.2
python-dateutil==2.9.0.post0
python-decouple==3.8

# === Segurança e performance ===
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
defusedxml==0.7.1
requests==2.32.5
urllib3==2.5.0
idna==3.10
certifi==2025.7.9
charset-normalizer==3.4.3

# === AWS e autenticação ===
google-auth==2.41.1
google-auth-oauthlib==1.2.2
oauthlib==3.3.1
requests-oauthlib==2.0.0
rsa==4.9.1
cachetools==6.2.0

# === Utilidades gerais ===
python-json-logger==3.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
typing_extensions==4.15.0
six==1.17.0
attrs==25.4.0
packaging==25.0

# === Desenvolvimento local (não obrigatório no Render) ===
pillow==11.3.0
beautifulsoup4==4.13.4
soupsieve==2.7
colorama==0.4.6
